&.home {
    flex-flow: column;
    justify-content: flex-start;

    *:not(i.fa-solid):not(i.fa-regular):not(i.fa-brands) {
        font-family: "Saira Stencil One", sans-serif;
    }

    >* {
        flex-shrink: 0;
    }

    button * {
        pointer-events: none;
    }

    >nav {
        position: sticky;
        top: 0;
        left: 0;
        right: 0;
        display: flex;
        justify-content: center;
        align-items: center;
        padding: 0 $_16;
        width: 100%;
        height: $_64;
        background-color: #ffffffce;
        backdrop-filter: blur(1rem);
        -webkit-backdrop-filter: blur(1rem);
        z-index: 1000;

        >section {
            display: flex;
            justify-content: space-between;
            align-items: center;
            gap: $_16;
            width: 100%;
            max-width: 1440px;

            >section.center {
                position: absolute;
                left: 50%;
                top: 50%;
                transform: translate(-50%, -50%);
                display: flex;
                justify-content: center;
                align-items: center;
                gap: $_12;
                padding: 0 $_4;
                height: $_40;
                border: 1px solid #00000034;
                border-radius: $_20;


                @for $i from 0 through 3 {
                    &[data-index="#{$i}"] a:nth-child(#{$i + 1}) {
                        color: #fff;
                        box-shadow: 0 2px 4px #00000034;

                        &::after {
                            opacity: 1;
                        }
                    }
                }

                a {
                    position: relative;
                    display: flex;
                    align-items: center;
                    gap: $_6;
                    padding: 0 $_12;
                    line-height: $_32;
                    text-decoration: none;
                    font-size: $_14;
                    letter-spacing: 0.5px;
                    color: #000;
                    border-radius: $_16;
                    box-shadow: 0 0 0 #00000000;
                    transition: 0.3s;

                    &::after {
                        content: "";
                        z-index: -1;
                        position: absolute;
                        top: 0;
                        left: 0;
                        bottom: 0;
                        right: 0;
                        width: 100%;
                        height: 100%;
                        background: linear-gradient(to top right, #4444cc, #4444ff);
                        border-radius: $_16;
                        opacity: 0;
                        transition: 0.3s;
                    }
                }
            }

            >section:not(.center) {
                display: flex;
                justify-content: center;
                align-items: center;
                gap: $_16;

                a {
                    display: flex;
                    align-items: center;
                    gap: $_8;
                    line-height: $_32;
                    text-decoration: none;
                    border-radius: $_8;
                    transition: 0.3s;

                    right: calc(-100% - $_32);
                    padding: 0 $_8;

                    i {
                        font-size: $_24;
                        transition: 0.3s;
                    }

                    span {
                        margin-left: -$_8;
                        max-width: 0;
                        white-space: nowrap;
                        overflow: hidden;
                        opacity: 0;
                        transition: 0.3s;
                    }

                    @media screen and (min-width: 480px) {
                        right: 0;
                    }

                    @media screen and (min-width: 640px) {
                        background: linear-gradient(to top right, #4444cc, #4444ff);
                        color: #fff;

                        i {
                            font-size: $_20;
                        }

                        span {
                            margin-left: 0;
                            max-width: $_48;
                            opacity: 1;
                        }
                    }

                    @media (hover: hover) {

                        &:hover {
                            top: -1px;
                            box-shadow: 0 $_4 $_8 #00000034;
                        }

                        &:active {
                            top: 0;
                            box-shadow: 0 0 0 #00000000;
                        }
                    }
                }
            }

            div {
                display: flex;
                justify-content: flex-start;
                align-items: center;
                flex-flow: column;
                gap: $_4;
                padding: 0 $_12;
                height: $_32;
                border: 1px solid #00000034;
                border-radius: $_8;
                overflow: hidden;
                cursor: pointer;
                transition: 0.3s;

                &[data-show="1"] {
                    margin-top: $_40;
                    padding: $_4 $_12;
                    height: $_72 + $_2;
                    background-color: #ffffffce;
                    backdrop-filter: blur(1rem);
                    -webkit-backdrop-filter: blur(1rem);
                }

                &[data-index="0"] p:nth-child(1) {
                    order: 0
                }

                &[data-index="1"] p:nth-child(2) {
                    order: 0
                }

                * {
                    flex-shrink: 0;
                }

                >p {
                    order: 1;
                    line-height: $_32;
                    font-size: $_14;
                }
            }

            img {
                left: calc(-100% - $_32);
                width: $_48;
                height: $_48;
                transition: 0.3s;

                @media screen and (min-width: 480px) {
                    left: 0;
                }
            }
        }
    }

    >header {
        z-index: 1;
        position: relative;
        display: flex;
        justify-content: center;
        align-items: center;
        width: 100%;
        background: linear-gradient(to bottom, #00000000 70%, #0000000d);
        transition: 0.3s;

        padding: $_48 $_16 0;

        @media screen and (min-width: 480px) {
            padding: $_80 $_16 0;
        }

        @media screen and (min-width: 640px) {
            padding: $_128 $_16 0;
        }

        >section {
            display: flex;
            flex-flow: column;
            justify-content: center;
            align-items: center;
            width: 100%;
            max-width: $_1440;

            gap: $_40;
            transition: 0.3s;

            >section.logo {
                display: flex;
                justify-content: center;
                align-items: center;

                flex-flow: column;

                @media screen and (min-width: 480px) {
                    flex-flow: row;
                }

                >img {
                    width: $_128;
                    height: $_128;
                }

                >strong {
                    display: flex;
                    flex-flow: column;
                    align-items: center;
                    margin-top: -$_2;
                    font-size: $_40;
                    font-weight: bolder;
                    transition: 0.3s;

                    @media screen and (min-width: 480px) {
                        align-items: flex-start;
                    }

                    @media screen and (min-width: 640px) {
                        font-size: $_48;
                    }

                    >span {
                        margin-top: -$_4;
                        width: 100%;
                        transition: 0.3s;

                        font-size: $_20;
                        text-align: center;

                        @media screen and (min-width: 480px) {
                            text-align: left;
                        }

                        @media screen and (min-width: 640px) {
                            font-size: $_24;
                        }
                    }
                }
            }

            >section.button {
                display: flex;
                justify-content: center;
                align-items: center;
                flex-flow: row wrap;
                gap: $_16;

                a {
                    display: flex;
                    align-items: center;
                    gap: $_8;
                    top: 0;
                    padding: 0 $_16;
                    line-height: $_40;
                    text-decoration: none;
                    border: 1px solid #00000034;
                    border-radius: $_8;
                    letter-spacing: 1px;
                    transition: 0.3s;

                    &:nth-child(1) {
                        color: #fff;
                        background-color: #000;
                        border: 1px solid #000;
                        box-shadow: 0 0 0 #00000000;

                        @media (hover: hover) {

                            &:hover {
                                top: -1px;
                                box-shadow: 0 $_4 $_8 #00000034;
                            }

                            &:active {
                                top: 0;
                                box-shadow: 0 0 0 #00000000;
                            }
                        }
                    }

                    &:nth-child(2) {
                        color: #fff;
                        background-color: #BA311C;
                        border: 1px solid #BA311C;
                        box-shadow: 0 0 0 #00000000;

                        &:hover {
                            top: -1px;
                            box-shadow: 0 $_4 $_8 #00000034;
                        }

                        &:active {
                            top: 0;
                            box-shadow: 0 0 0 #00000000;
                        }
                    }

                    &:nth-child(3) {

                        @media (hover: hover) {

                            &:hover {
                                border: 1px solid #000;
                            }
                        }
                    }
                }
            }

            >img {
                margin-top: $_24;
                width: 100%;
                max-width: $_1024;
                aspect-ratio: 16 / 9.9;
                border: 0.5px solid#0000001a;
                border-radius: $_16;
                box-shadow: 0 $_12 $_16 #0000001a;
            }

            >a {
                display: flex;
                align-items: center;
                gap: $_8;
                top: 0;
                margin-top: $_48;
                padding: 0 $_24;
                line-height: $_44;
                text-decoration: none;
                background: linear-gradient(to top right, #4444cc, #4444ff);
                color: #fff;
                border-radius: $_8;
                letter-spacing: 1px;
                transition: 0.3s;

                i {
                    right: 0;
                    font-size: $_20;
                    transition: 0.3s;
                }

                @media (hover: hover) {
                    
                    &:hover i:last-child {
                        right: -$_8;
                    }
                }
            }
        }
    }

    >section.home-quote {
        position: relative;
        display: flex;
        justify-content: center;
        align-items: center;
        padding: $_96 $_16 0;
        width: 100%;
        background-color: #0000000d;

        >section {
            position: relative;
            display: flex;
            flex-flow: column;
            justify-content: center;
            align-items: center;
            gap: $_16;
            width: initial;
            max-width: 100%;
            background-color: #ffffffce;
            backdrop-filter: blur(1rem);
            -webkit-backdrop-filter: blur(1rem);
            border: 4px dashed #00000034;
            border-radius: $_8;

            p {
                padding: $_24 $_48;
            }

            i.fa-solid {
                position: absolute;
            }

            i.fa-quote-left {
                top: $_12;
                left: $_40;
                font-size: $_44;
                color: transparent;
                background: linear-gradient(to bottom right, #00000034 0%, #00000000);
                background-clip: text;
                -webkit-background-clip: text;
                -webkit-text-fill-color: transparent;
            }

            i.fa-quote-right {
                bottom: 0;
                right: $_12;
                font-size: $_44;
            }
        }
    }

    >section.home-intro {
        position: relative;
        display: flex;
        justify-content: center;
        align-items: center;
        padding: $_96 $_16;
        width: 100%;
        background: linear-gradient(to bottom, #0000000d 30%, #ffffff);

        >section {
            position: relative;
            display: flex;
            flex-flow: column;
            justify-content: center;
            align-items: flex-start;
            gap: $_16;
            top: 0;
            width: 100%;
            max-width: $_1024;

            >i.fa-solid {
                position: absolute;
                top: -$_16;
                left: 0;
                font-size: $_80;
                color: #0000001a;
            }

            >strong {
                max-width: 720px;
                transition: 0.3s;

                font-size: $_24;

                @media screen and (min-width: 640px) {
                    font-size: $_32;
                }
            }

            >section {
                display: flex;
                flex-flow: column;
                width: 100%;
                aspect-ratio: 16 / 9;
                background-color: #ffffffce;
                backdrop-filter: blur(1rem);
                -webkit-backdrop-filter: blur(1rem);
                border: 1px solid #0000000d;
                border-radius: $_24;
                box-shadow: 0 $_12 $_16 #0000001a;
                transition: 0.3s;

                padding: $_20;

                @media screen and (min-width: 480px) {
                    padding: $_24;
                }

                @media screen and (min-width: 640px) {
                    padding: $_32;
                }

                >strong {
                    font-weight: 500;
                    transition: 0.3s;

                    font-size: $_24;

                    @media screen and (min-width: 480px) {
                        font-size: $_28;
                    }
                }

                p {
                    margin-top: $_8;
                    letter-spacing: 1px;
                    transition: 0.3s;
                }

                a {
                    display: flex;
                    align-items: center;
                    gap: $_4;
                    margin: $_24 0;
                    text-decoration: none;
                    color: #4444ff;
                    transition: 0.3s;

                    @media (hover: hover) {

                        &:hover {
                            gap: $_8;
                        }
                    }
                }

                >figure {
                    position: relative;
                    width: 100%;
                    border-radius: $_16;
                    background-color: #0000000d;
                    overflow: hidden;
                    transition: 0.3s;

                    aspect-ratio: 2 / 1;

                    @media screen and (min-width: 640px) {
                        aspect-ratio: 3 / 1;
                    }

                    img {
                        width: 100%;

                        aspect-ratio: 2 / 1;

                        @media screen and (min-width: 640px) {
                            aspect-ratio: 3 / 1;
                        }
                    }

                    figcaption {
                        position: absolute;
                        top: 0;
                        left: 0;
                        bottom: 0;
                        right: 0;
                        display: flex;
                        justify-content: center;
                        align-items: center;
                        color: #00000034;
                        font-size: $_32;
                        letter-spacing: $_2;
                    }
                }

                >section {
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    flex-flow: row wrap;
                    gap: $_16;
                    margin-top: $_32;

                    @for $i from 0 through 5 {

                        &[data-index="#{$i}"] button:nth-child(#{$i + 1}) {
                            top: -2px;
                            margin-bottom: 2px;
                            color: #fff;
                            border: 0px solid #00000000;
                            box-shadow: 0 $_4 $_8 #00000034;

                            &:after {
                                opacity: 1;
                            }
                        }
                    }

                    button {
                        position: relative;
                        top: 0;
                        margin-bottom: 0;
                        padding: 0 $_12;
                        line-height: $_32;
                        font-size: $_14;
                        letter-spacing: 1px;
                        color: #000;
                        border: 1px solid #00000034;
                        border-radius: $_4;
                        transition: 0.3s;
                        overflow: hidden;

                        @media (hover: hover) {

                            &:hover {
                                border: 1px solid #000000;
                            }
                        }

                        &::after {
                            content: "";
                            z-index: -1;
                            position: absolute;
                            top: 0;
                            left: 0;
                            bottom: 0;
                            right: 0;
                            width: 100%;
                            height: 100%;
                            background: linear-gradient(to top right, #4444cc, #4444ff);
                            border-radius: $_4;
                            opacity: 0;
                            transition: 0.3s;
                        }
                    }
                }
            }
        }
    }

    >section.doc-body {
        position: relative;
        display: flex;
        justify-content: center;
        align-items: center;
        padding: $_16 $_16 0;
        width: 100%;
        height: calc(100% - $_64);
        background: linear-gradient(to bottom, #00000000 30%, #0000000d);

        >section {
            position: relative;
            display: flex;
            flex-flow: row;
            justify-content: flex-start;
            align-items: flex-start;
            top: 0;
            width: 100%;
            max-width: $_1440;
            height: calc(100% - $safeT - $safeB);
            background-color: #f9f9f9;
            box-shadow: 0 $_4 $_8 #0000001a;
            border: 0.5px solid #0000001a;
            border-radius: $_16 $_16 0 0;
            overflow: hidden;

            >* {
                flex-shrink: 0;
            }

            >section.tab {
                z-index: 1;
                display: flex;
                flex-flow: column;
                align-items: flex-start;
                gap: $_2;
                padding: $_24 $_16;
                margin-left: -$_256;
                width: $_256;
                height: 100%;
                transition: 0.3s;
                overflow: scroll;


                &[data-show="1"] {
                    margin-left: 0;
                }

                @media screen and (min-width: 800px) {
                    margin-left: 0;
                }

                >* {
                    flex-shrink: 0;
                }

                @for $i from 0 through 10 {

                    &[data-index="#{$i}"] button:nth-child(#{$i + 1}) {
                        color: #fff;
                        box-shadow: 0 $_4 $_8 #00000034;

                        &:after {
                            opacity: 1;
                        }
                    }
                }

                button {
                    position: relative;
                    display: flex;
                    justify-content: flex-start;
                    align-items: center;
                    gap: $_12;
                    padding: 0 0 0 $_12;
                    width: 100%;
                    line-height: $_44;
                    font-size: $_14;
                    letter-spacing: 0.5px;
                    border-radius: $_8;
                    transition: 0.3s;

                    @media (hover: hover) {

                        &:hover {
                            background-color: #0000000d;
                        }
                    }

                    i {
                        width: $_20;
                        text-align: center;
                    }

                    &::after {
                        content: "";
                        z-index: -1;
                        position: absolute;
                        top: 0;
                        left: 0;
                        bottom: 0;
                        right: 0;
                        width: 100%;
                        height: 100%;
                        background: linear-gradient(to top right, #4444cc, #4444ff);
                        border-radius: $_8;
                        opacity: 0;
                        transition: 0.3s;
                    }
                }
            }

            >section.content {
                position: relative;
                height: 100%;
                background-color: #fff;
                box-shadow: -$_4 0 $_8 #0000000d;

                width: 100%;

                @media screen and (min-width: 800px) {
                    width: calc(100% - $_256);
                }

                >button {
                    z-index: 1;
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    gap: $_8;
                    font-size: $_20;
                    transition: 0.3s;

                    position: fixed;
                    top: calc(100% - $safeB - $_12 - $_44);
                    left: $_12;
                    width: $_44;
                    height: $_44;
                    background-color: #fff;
                    border-radius: 50%;
                    box-shadow: 0 $_8 $_16 #00000034;

                    @media screen and (min-width: 480px) {
                        position: absolute;
                        top: $_16;
                        left: $_16;
                        width: $_20;
                        height: $_20;
                        box-shadow: 0 0 0 #00000000;
                    }

                    @media screen and (min-width: 800px) {
                        display: none;
                    }

                    * {
                        pointer-events: none;
                    }
                }

                .pd-md-viewer {
                    font-family: sans-serif;
                    transition: 0.3s;

                    padding: $_16 $_16 $_80;

                    @media screen and (min-width: 480px) {
                        padding: $_16 $_24 $_80;
                    }

                    @media screen and (min-width: 640px) {
                        padding: $_16 $_32 $_80;
                    }

                    * {
                        font-family: inherit;
                    }
                }
            }
        }
    }

    >footer {
        position: relative;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-flow: column;
        gap: $_12;
        padding: $_48 0;
        width: 100%;
        background-color: #000;
        color: #fff;

        p,
        a {
            text-decoration: none;
            color: #fff;
        }
    }
}