@import "./function/hsbTohsl";
@import "./init";

html {
    position: fixed;
    display: block;
    width: 100%;
    height: 100%;
    overflow: hidden;
}

body {
    position: relative;
    display: flex;
    flex-flow: row wrap;
    width: 100%;
    height: 100%;
    background: #fff;
    overflow: hidden scroll;

    &[data-mode="dark"] {

        section.right {

            @media screen and (min-width: $_1024) {
                box-shadow: -4px 0 8px #ffffff0d !important;
            }
        }
    }

    &[data-show="1"] {

        section.right {
            right: 0;
            width: 100%;
            opacity: 1;
            background-color: #fff;
        }
    }

    >section {

        &.left {
            width: 100%;
            transition: 0.3s;

            background-color: #fff;

            @media screen and (min-width: $_1024) {
                width: 50%;
                background-color: #f9f9f9;
            }

            @media screen and (min-width: $_1600) {
                width: $_800;
            }

            #PDMDEditor {
                padding: $_12 0 50vh;
            }
        }

        &.right {
            z-index: 1;
            position: absolute;
            top: 0;
            bottom: 0;
            overflow: hidden;
            box-shadow: -4px 0 8px transparent;
            transition: 0.3s;

            right: -100%;
            width: 50%;
            opacity: 0;

            @media screen and (min-width: $_1024) {
                right: 0;
                width: 50% !important;
                box-shadow: -4px 0 8px #0000000d;
                opacity: 1;
            }

            @media screen and (min-width: $_1600) {
                width: calc(100% - $_800) !important;
            }

            #PDMDViewer {
                padding: 0 1rem 50vh;

                @media screen and (min-width: $_1024) {
                    padding: 0 2rem 50vh;
                }

                @media screen and (min-width: $_1600) {
                    padding: 0 4rem 50vh;
                }
            }
        }

        &.button {
            z-index: 1000;
            position: absolute;
            bottom: $_24;
            right: $_24;
            width: $_56;
            display: flex;
            flex-flow: column;
            justify-content: flex-end;
            background-color: #fff;
            box-shadow: 0 2px 16px #00000034;
            border-radius: $_28;
            transition: 0.3s;
            transition-delay: 2s;
            transition-property: height;

            height: $_56;
            overflow: hidden;

            @media (hover: hover) {

                &:hover {
                    height: $_56 * 5;
                    transition-delay: 0s;
                }
            }

            @media screen and (min-width: $_1024) {

                @media (hover: hover) {

                    &:hover {
                        height: $_56 * 4;
                        transition-delay: 0s;
                    }
                }
            }

            >i {
                flex-shrink: 0;
                line-height: $_56;
                text-align: center;
                font-size: $_24;
                transition: 0.3s;
                cursor: pointer;

                &.fa-eye {

                    @media screen and (min-width: $_1024) {
                        height: 0;
                        opacity: 0;
                    }
                }
            }
        }
    }
}


// #md-preview b {
// 	color: #000;
// }

// #md-preview p,
// #md-nav i {
//     margin: $_12 0 $_8;
//     font-size: $_14;
//     line-height: $_24;
//     min-height: $_24;
// }

@import "./md-nav";
// @import "./md-editor";
// @import "./md-preview";
@import "./pop";

table,
td {
    position: relative;
    padding: 0.5rem;
    text-align: center;
    border-collapse: collapse;
    // border-radius: 0.25rem;
    border: 1px solid rgba(0, 0, 0, 0.15);
    overflow: hidden;
    text-align: left;

    img {
        position: relative;
        object-fit: cover;
        max-width: 100%;
    }

    // &.left {
    //   text-align: left;
    // }
    // &.right {
    //   text-align: right;
    // }
}

thead,
tfoot {
    background-color: rgba(0, 0, 0, 0.1);
    color: #000;
}